/* Reset default margins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(145deg, #b3bab3, #dee7e5); 
  color: #0d1b2a;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*--------------- Navbar ----------------*/
.navbar {
  background: #4084c7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 10px;
}

.logo-img {
  height: 40px; 
  width: 40px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover{
    color: rgb(217, 231, 32);
}

#menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
/* --------- Navbar media query for phone  */

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 60px;
    background: #004080;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links.show {
    display: flex;
  }

  #menu-toggle {
    display: block;
  }
}


/*------------ Footer ----------*/
footer {
  margin-top: auto;
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}